
.hofff-content .hofff-selectri-content {
  display: none;
  box-sizing: border-box;
  padding: 10px;
  clear: both;
  width: 100%;
}

.hofff-content .hofff-selectri-selection .hofff-selectri-content {
  display: table;
}

.hofff-content-edit {
  padding-right: 10px;
}

.hofff-content-edit img {
  vertical-align: top;
}

.hofff-content-label {
  color: #b3b3b3;
}

.hofff-selectri-path .hofff-content-label {
  display: none;
}
